@font-face {
    font-family: 'FontAwesome';
    src: url('fontawesome-webfont.eot'); /* IE9 Compat Modes */
    src: url('fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fontawesome-webfont.woff') format('woff'), /* Modern Browsers */
    url('fontawesome-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('fontawesome-webfont.svg') format('svg'); /* Legacy iOS */
}

p {
    font-family:FontAwesome;
}

.infoframe {
    font-family: FontAwesome;
}